.post-section-widget {
    a {
        color: inherit;
        text-decoration: none;
        font-weight: 300;
    }

    ul.nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    li {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        flex: 1;
        position: relative;
        padding: 8px 0px;
        
        &::before {
            content: " ";
            width: 3px;
            height: 100%;
            left: -16px;
            position: absolute;
            background-color: rgba($color: $elements-primary, $alpha: .15);
        }
        
        &.active {
            a {
                font-weight: 700;
            }

            &::before {
                background-color: rgba($color: $elements-primary, $alpha: 1);
            }
        }
    }
}