.create-password-validation {
    .list-group {
        width: 100%;
        font-size: .75rem;
    }

    .list-group-item {
        border: none;
        padding-top: .25rem;
        padding-bottom: .25rem;
        color: $elements-text-secondary;
    }

    .valid {
        color: $elements-success;
        font-weight: 600;
    }

    i {
        margin-right: 8px;
    }

    ul li {
        padding-left: 0;
    }
}