.form-comment {
    .title {
        text-align: left;
        margin-bottom: 8px;
        font-size: 18px;
        font-weight: 800;
    }

    .btn {
        margin-top: 8px;
        width: fit-content;
    }
}