header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 125px;
    padding-top: 30px;
}

header[data-stuck] {    
    .header-wrapper {
        position: fixed;
        z-index: 10;
        top: 0;
        margin-top: 0px;
        border: none;
        border-bottom: 1px solid var(--border-primary);
        background-color: var(--background-secondary);
        max-width: 100%;
        border-radius: 0;
        
        .header-container {
            padding: 16px 0px;
        }
    }
}

.header-wrapper {
    width: 100%;
    max-width: 1190px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-secondary);
    border-radius: 64px;
    border: 1px solid var(--border-primary);
    transition: all .3s ease;
}

.header-container {
    width: 100%;
    max-width: 1190px;
    padding: 16px 32px;
    
    transition: all .3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo-title {
        font-family: var(--font-family-secundary);
        font-weight: 600;
    }

    button {
        i {
            font-size: 22px;
        }
    }
}

@media only screen and (min-width: 360px) and (max-width: 430px) {
    header {
        padding: 24px 0px;
    }
    
    .header-wrapper {
        width: 95%;
        flex-direction: row;
        align-items: center;
    }

    header[data-stuck] {
        .header-wrapper {
            width: 100%;

            .header-container {
                padding: 16px;
            }
        }
    }
}