.create-password-validation {
    .list-group {
        width: 100%;
        --bs-list-group-border-width: 0px;
        --bs-list-group-item-padding-y: .25rem;
        font-size: .75rem;
    }

    .list-group-item {
        --bs-body-color: #ccc;
        color: var(--bs-body-color);
    }

    .valid {
        --bs-success: #27AE61;
        --bs-body-font-weight: 600;
        color: var(--bs-success);
        font-weight: var(--bs-body-font-weight);
    }

    i {
        margin-right: 8px;
    }

    ul li {
        padding-left: 0;
    }
}