.post-dificulty {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    i.fa-award { 
        margin-right: 16px;
    }

    ul {
        padding: 0;
        margin: 0;
        margin-left: 8px;
        display: flex;
        gap: 4px;

        .fa-award {
            font-size: 22px;
            color: $elements-primary;
        }

        .fa-star {
            color: $elements-gold;
        }

        .fa-regular.fa-star {
            color: $elements-gray;
        }
    }
}