.post-dificulty {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    ul {
        padding: 0;
        margin: 0;
        margin-left: 8px;
        display: flex;
        gap: 4px;

        .fa-award {
            font-size: 22px;
            color: var(--bs-primary);
        }

        .fa-star {
            color: #FFC225;
        }

        .fa-regular.fa-star {
            color: var(--bs-gray);
        }
    }
}