.post-meta-widget {
    i {
        color: $elements-primary;
    }
    
    i.fa-award {
        margin-right: 6px;
    }
    
    b {
        margin: 0px 8px;
    }

    .post-meta-categories {
        display: flex;
    }

    .list-group-item {
        border: none;
    }
}