.alert {
    font-family: 'DM Sans';
    font-size: 14px;
    font-weight: 500;
    padding: 16px 32px;
    border-color: none;
    background-color: transparent;

    i { 
        margin-right: 16px; 
    }
}

.alert {
    &-danger {
        background-color: rgba($color: $elements-danger, $alpha: .15);
    
        i { 
            color: $elements-danger;
        }
    }

    &-warning {
        background-color: rgba($color: $elements-warning, $alpha: .15);
    
        i { 
            color: $elements-warning;
        }
    }
    
    &-success {
        background-color: rgba($color: $elements-success, $alpha: .15);
    
        i { 
            color: $elements-success;
        }
    }
    
    &-info {
        background-color: rgba($color: $elements-info, $alpha: .15);
    
        i { 
            color: $elements-info;
        }
    }
}