.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;

    i {
        margin-left: 8px;
    }

    .loader {
        position: absolute;
        right: -32px;
        top: calc(50% - calc($elements-loader-size / 4));
        transform: translateY(-50%);

        width: 24px;
        height: 24px;
        border-width: 3px;
    }
}

.btn-primary {
    background-color: $elements-primary;
    border: $elements-primary;
    
    &:hover {
        background-color: $elements-primary-hover;
        border: $elements-primary-hover;
    }
}

.btn-success {
    background-color: $elements-success;
    border: $elements-success;
    
    &:hover {
        background-color: $elements-success-hover;
        border: $elements-success-hover;
    }
}

.btn-warning {
    background-color: $elements-warning;
    border: $elements-warning;
    font-weight: $elements-warning-font-weight;
    
    &:hover {
        background-color: $elements-warning-hover;
        border: $elements-warning-hover;
    }
}

.btn-danger {
    background-color: $elements-danger;
    border: $elements-danger;
    
    &:hover {
        background-color: $elements-danger-hover;
        border: $elements-danger-hover;
    }
}

.btn-secondary {
    background-color: $elements-secondary;
    border: $elements-secondary;
    
    &:hover {
        background-color: $elements-secondary-hover;
        border: $elements-secondary-hover;
    }
}

.btn-third {
    background-color: $elements-third;
    border: $elements-third;
    color: $elements-text-white;
    
    &:hover {
        background-color: $elements-third-hover;
        border: $elements-third-hover;
        color: $elements-text-white;
    }
}

.btn-default {
    background-color: $elements-default;
    border: $elements-default;
    color: $elements-text-white;
    
    &:hover {
        background-color: $elements-default-hover;
        border: $elements-default-hover;
        color: $elements-text-white;
    }
}

.btn-nav {
    background-color: $elements-btn-nav-bg-color;
    border: $elements-btn-nav-border-color ;
    color: $elements-text-black;
    text-decoration: $elements-btn-nav-a-decoration;
    font-weight: $elements-btn-nav-font-weight;
    
    &:hover {
        background-color: $elements-btn-nav-bg-color-hover;
        border: $elements-btn-nav-border-color-hover;
        color: $elements-text-black;
    }
}