.form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    padding: 32px 16px;
    gap: 16px;

    .btn {
        margin-top: 16px;
    }
    
    .title {
        text-align: center;
        margin-bottom: 24px;
    }
    
    .form-check {
        align-self: flex-start;

        .invalid-feedback,
        .valid-feedback {
            margin-top: 0px;
        }

        &-label {
            &:hover {
                cursor: pointer;
            }
        }
    }

    p {
        max-width: 100%;
        text-align: center;
    }

    i {
        font-size: 10px;
    }

    .icon i {
        font-size: 48px;
    }

    .icon.success {
        color: $elements-success;
    }
    
    .icon.danger {
        color: $elements-danger;
    }

    .form-group {
        width: 100%;
        
        input::placeholder {
            font-size: 14px;
        }

    }

    &-label {
        font-style: light;
    }

    &-control {
        padding: 8px 16px;
    }
}

.form-bordered {
    border: $elements-form-border-width solid $elements-form-border-color;
    border-radius: $elements-form-border-radius;
}

.operation-result {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    span.message {
        margin-top: 24px;
    }
}

.form-check {
    &-label {
        font-size: 14px;

        &:hover {
            cursor: pointer;
        }
    }
}