* {
    --bs-form-invalid-border-color: #FE3152;
    --bs-border-color: #dce0e0;
    --bs-border-width: 1px;
    --bs-border-radius: 8px;
    
    font-family: "Urbanist", sans-serif;

    --bs-gray: #95A5A5;
    --bs-red: #FE3152;
    --bs-primary: #9A59B5;
    --bs-secondary: #F39C11;

    --bs-primary-hover: #693D7B;
}